.eoOPJI {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.hWtlko {
  padding: 0px 80px;
  height: 100%;
}

.kgrhAW {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 120%;
  color: rgb(255, 255, 255);
}

.css-1xjqnmi {
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.eoOPJI .sc-hniSBJ div a {
  color: rgb(255, 255, 255);
}

.css-1xjqnmi > :not(style):not(style) {
  margin: 0px;
}

img, svg, i {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.css-1xjqnmi > :not(style) ~ :not(style) {
  margin-left: 20px;
}

.css-1xjqnmi > :not(style):not(style) {
  margin: 0px;
}

.VTpEl {
  gap: 60px;
}

.css-u4p24i {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}

.eoOPJI .sc-hniSBJ .sc-gqQcRE {
  color: rgb(255, 255, 255);
}

.fAeOni {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0px;
  cursor: pointer;
}

.bPRdgG {
  width: 80px;
  height: 100%;
  position: relative;
  color: rgb(230, 232, 235);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0px;
}

.bcLxvi {
  width: 90px;
  height: 32px;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0px;
}

button {
  text-transform: unset !important;
  background: none;
  cursor: pointer;
  border: 0;
  border-radius: none;
  color: inherit;
  font: inherit;
}

.bqkDKP {
  position: absolute;
  top: 4px;
  right: -6px;
  color: rgb(111, 117, 123);
}

.bqkDKP svg {
  width: 24px;
  height: 24px;
}

.eoOPJI .sc-hniSBJ .sc-cyJtZp {
  color: rgb(110, 133, 252);
}

.dgxqgY {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.hnvsag {
padding: 0px 80px;
height: 100%;
}

.dgxqgY .sc-SMwDY div a {
color: rgb(255, 255, 255);
}

.css-1xjqnmi > :not(style) ~ :not(style) {
margin-left: 20px;
}

.css-1xjqnmi > :not(style):not(style) {
margin: 0px;
}

.css-1lnp4vl {
display: flex;
flex-direction: row;
-webkit-box-align: center;
align-items: center;
}

.bHggXf {
color: rgb(230, 232, 235);
font-size: 1.4rem;
font-weight: 500;
line-height: 140%;
letter-spacing: 0px;
}

.jVrsKs {
padding: 8px 20px;
border-radius: 4px;
background-color: rgb(55, 55, 204);
color: rgb(255, 255, 255);
}


.cdaNAz {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0px;
  cursor: pointer;
}


.eyJPsE {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(55, 55, 204);
}

.bHggXf {
  color: rgb(230, 232, 235);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0px;
}

.css-1lnp4vl > :not(style):not(style) {
margin: 24px;
}

.css-1ps8hc1 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(25, 118, 210);
}

.css-10d1a0h-MuiButtonBase-root {display: none;}

.bIBXRU {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0px;
}

.lhhxdU {
  background-color: rgb(5, 7, 14);
  background-image: url(https://kdy41000.github.io/vrin3d_clone_react/assets/home_A-1_PC-24bf28eb.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.cieJKV {
  position: relative;
  max-width: 1300px;
  width: calc(100% - 180px);
  height: 100vh;
  max-height: 970px;
  z-index: 1;
  white-space: pre-wrap;
}

@media only screen and (max-width: 600px) {
      .cieJKV {
          width: calc(100% - 40px);
          max-height: 420px;
      }
  }

  @media only screen and (max-width: 768px) {
        .cieJKV {
            max-width: 630px;
            width: calc(100% - 140px);
            max-height: 540px;
        }
    }

    @media only screen and (max-width: 1024px) {
          .cieJKV {
              max-width: 844px;
              max-height: 870px;
          }
      }

@media (min-width: 1200px) {
      .css-1qsxih2 {
          max-width: 1200px;
      }
  }

  @media (min-width: 600px) {
        .css-1qsxih2 {
            padding-left: 24px;
            padding-right: 24px;
        }
    }

    .css-1qsxih2 {
      width: 100%;
      margin-left: auto;
      box-sizing: border-box;
      margin-right: auto;
      display: block;
      padding-left: 16px;
      padding-right: 16px;
  }

  .bRHYvC {
    flex-direction: row;
    justify-content: flex-end;
}

.css-1ofqig9 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hOmEkG {
  position: absolute;
  left: 0px;
  bottom: 120px;
  z-index: 2;
}

.css-j7qwjs {
  display: flex;
  flex-direction: column;
}

.kOUWmN {
  color: rgb(230, 232, 235);
  font-size: 5.2rem;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 12px;
}

.eptCnI {
  color: rgb(189, 193, 199);
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 140%;
}

.fdexUM {
  max-width: 326px;
  padding: 16px;
  margin-top: 56px;
  border-radius: 6px;
  background-color: rgb(55, 55, 204);
  color: rgb(255, 255, 255);
}

.bPjlAi {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 140%;
}

.fJCXLf {
  position: relative;
  width: 100%;
  height: 250vh;
  background-color: rgb(5, 7, 14);
}

.nmnyx {
  /* position: relative; */
  width: 100%;
  height: auto;
}

.nmnyx video {
  min-height: 100vh;
  object-fit: cover;
}

.eVJoZ {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.fbmimk {
  position: absolute;
  top: 60%;
  left: 15vw;
  transform: translate(0px, -50%);
  width: auto;
  z-index: 10;
}

.css-1lxwves {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.css-opkp0k {
  display: flex;
  flex-direction: row;
}

.css-opkp0k > :not(style):not(style) {
  margin: 0px;
}

.dULNKs {
  width: 48px;
  height: 112px;
  gap: 4px;
  padding: 16px 12px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 22px;
}

.css-j7qwjs {
  display: flex;
  flex-direction: column;
}

.dULNKs svg {
  width: 24px;
  height: 24px;
  color: rgb(93, 108, 250);
}

img, svg, i {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.css-opkp0k > :not(style) ~ :not(style) {
  margin-left: 24px;
}

.css-opkp0k > :not(style):not(style) {
  margin: 0px;
}

.css-j7qwjs {
  display: flex;
  flex-direction: column;
}

.izNBef {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

@media only screen and (max-width: 1280px) {
      .gSYnps {
          font-size: 4rem;
      }
  }

  .gSYnps {
      font-weight: 700;
      font-size: 5.6rem;
      line-height: 140%;
      color: rgb(255, 255, 255);
  }

  @media only screen and (max-width: 1280px) {
          .gSYnps {
              font-size: 4rem;
          }
      }

      .gSYnps {
          font-weight: 700;
          font-size: 5.6rem;
          line-height: 140%;
          color: rgb(255, 255, 255);
      }

      @media only screen and (max-width: 1280px) {
              .hBRKvA {
                  font-size: 2.4rem;
              }
          }

          .hBRKvA {
              font-weight: 700;
              font-size: 3.2rem;
              line-height: 140%;
              color: rgb(255, 255, 255);
              white-space: pre-wrap;
          }

          .hWanvO {
            background-color: rgb(5, 7, 14);
        }

        .ifTTTI {
          position: relative;
          max-width: 1300px;
          width: calc(100% - 180px);
          white-space: pre-wrap;
          padding: 200px 0px;
      }

      @media (min-width: 1200px) {
            .css-1qsxih2 {
                max-width: 1200px;
            }
        }

        @media (min-width: 600px) {
              .css-1qsxih2 {
                  padding-left: 24px;
                  padding-right: 24px;
              }
          }

          .css-1qsxih2 {
            width: 100%;
            margin-left: auto;
            box-sizing: border-box;
            margin-right: auto;
            display: block;
            padding-left: 16px;
            padding-right: 16px;
        }

        .css-j7qwjs {
          display: flex;
          flex-direction: column;
      }

      .iYLZqw {
        font-size: 3rem;
        font-weight: 700;
        line-height: normal;
        background: linear-gradient(0deg, rgb(115, 55, 255) 0%, rgb(49, 69, 255) 100%) text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 14px;
    }

    .cGMuKF {
      color: rgb(255, 255, 255);
      font-size: 4.8rem;
      font-weight: 700;
      line-height: normal;
  }

  .dlqOMK {
    color: rgb(246, 247, 248);
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 140%;
    margin-top: 20px;
}

.YIVMF {
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin-top: 64px;
  padding: 64px 0px;
  text-align: center;
  border-radius: 16px;
  background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.03) 99.94%);
}

.css-m1ydac {
display: flex;
/* flex-direction: column; */
justify-content: space-evenly;
}

.ciNAkd {
gap: 12px;
}

.css-j7qwjs {
display: flex;
flex-direction: column;
}

.css-csffzd {
display: flex;
flex-direction: row;
-webkit-box-align: center;
align-items: center;
}

.css-csffzd > :not(style):not(style) {
margin: 0px;
}

.fUSxHr {
color: rgb(255, 255, 255);
text-align: center;
font-size: 8rem;
font-weight: 800;
line-height: 120%;
}

.css-csffzd > :not(style) ~ :not(style) {
margin-left: 8px;
}

.css-csffzd > :not(style):not(style) {
margin: 0px;
}

.YIVMF svg {
width: 56px;
height: 56px;
}

.iqBcgl {
color: rgb(255, 255, 255);
font-size: 2.8rem;
font-weight: 400;
line-height: 140%;
}

.caYDuJ {
color: rgb(189, 193, 199);
font-size: 1.6rem;
font-weight: 400;
line-height: 140%;
}

.YkRGM {
position: relative;
width: calc(100% - 180px);
padding: 180px 0px 320px;
white-space: pre-wrap;
}

.jUjhju {
flex-direction: row;
margin-top: 64px;
gap: 24px;
}

.fJMZdC {
flex-direction: row;
position: relative;
max-width: 588px;
width: 50%;
height: 609px;
border-radius: 22px;
background: linear-gradient(221deg, rgba(255, 255, 255, 0.2) -0.09%, rgba(81, 30, 198, 0.14) 99.94%);
padding: 58px 64px;
cursor: pointer;
}

.fJMZdC:hover {
background: linear-gradient(225deg, rgba(255, 255, 255, 0.5) 0%, rgba(81, 30, 198, 0.35) 100%);
}

.cgTCNi {
flex-direction: row;
width: 100%;
gap: 8px;
}

.css-1b6n4o1 {
display: flex;
flex-direction: column;
-webkit-box-pack: justify;
justify-content: space-between;
}

.hcwUHC {
width: 106%;
position: absolute;
top: 35px;
right: -32px;
pointer-events: none;
}

.fJMZdC #video-image {
display: none;
}

.dJMMkK {
width: 105%;
position: absolute;
top: 34px;
right: -31px;
pointer-events: none;
}

.fJMZdC video {
display: none;
}

.lgTkxA {
width: 40%;
position: absolute;
top: 220px;
right: 78px;
pointer-events: none;
}

.jrbumP {
color: rgb(255, 255, 255);
font-size: clamp(2.4rem, 2.2vw, 3.6rem);
font-weight: 600;
line-height: 140%;
white-space: pre-wrap;
z-index: 2;
position:absolute;
}

.fJMZdC span:nth-child(2) {
display: none;
}

.hcvMQI {
color: rgb(255, 255, 255);
font-size: clamp(2rem, 1.5vw, 3.2rem);
font-weight: 600;
line-height: 140%;
white-space: pre-wrap;
z-index: 2;
}

.cgTCNi svg {
min-width: 56px;
width: 56px;
height: 56px;
left: 400px;
  position: relative;
}

.image-fade-in {
  transition: opacity 1s ease-in-out; /* 투명도 변화에 대한 전환 설정 */
}

.BZqer {
position: absolute;
top: 210px;
right: -30px;
pointer-events: none;
}

.axTPc {
position: relative;
width: calc(100% - 180px);
padding: 200px 0px;
white-space: pre-wrap;
overflow: hidden;
}

@media (min-width: 1200px) {
    .css-1qsxih2 {
        max-width: 1200px;
    }
}

@media (min-width: 600px) {
      .css-1qsxih2 {
          padding-left: 24px;
          padding-right: 24px;
      }
  }

  .css-j7qwjs {
    display: flex;
    flex-direction: column;
}

.ifPUKW {
  max-width: 722px;
  width: 100%;
  height: auto;
  margin-top: 72px;
}

.bTztWh {
position: absolute;
top: 45%;
left: 410px;
width: 1020px;
}

.hacWiT {
position: absolute;
top: -72px;
/*left: 85px;*/
left: 100px;
width: auto;
}

.css-1x4jos1 {
display: flex;
flex-direction: row;
-webkit-box-align: center;
align-items: center;
}

.css-1x4jos1 > :not(style):not(style) {
margin: 0px;
}

.css-1x4jos1 > :not(style) ~ :not(style) {
margin-left: 16px;
}

.css-1x4jos1 > :not(style):not(style) {
margin: 5px;
}

.AvqPW {
position: absolute;
top: 0px;
right: 216px;
width: 160px;
height: 434px;
background: linear-gradient(270deg, rgb(12, 16, 25) 0%, rgba(12, 16, 25, 0) 100%);
}

.Xjwek {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
max-height: 260px;
min-height: 200px;
height: 16vw;
background: rgb(55, 55, 204);
}

.css-j7qwjs {
display: flex;
flex-direction: column;
}

.gyNaRg {
color: rgb(255, 255, 255);
text-align: center;
font-size: 3.2rem;
font-weight: 700;
line-height: normal;
margin-bottom: 16px;
}

.gQtbHN {
width: fit-content;
height: auto;
background: rgb(230, 232, 235);
border-radius: 6px;
padding: 16px 56px;
}

.jlusTb {
display: flex;
align-items: center;
text-align: center;
font-weight: 600;
font-size: 2.4rem;
line-height: 140%;
color: rgb(55, 55, 204);
}
.iOqOm {
position: relative;
width: 307px;
height: 434px;
background-repeat: no-repeat;
background-size: cover;
background-position: 0% 0%;
cursor: pointer;
}
.kgNvuP {
position: absolute;
bottom: 0px;
left: 0px;
width: 307px;
height: 434px;
opacity: 0.8;
background: linear-gradient(360deg, rgb(14, 13, 18) 0%, rgba(14, 13, 18, 0) 100%);
cursor: pointer;
}

.slick-img1 {
background-image: url(https://kdy41000.github.io/vrin3d_clone_react/assets/carousel_thumbnail_1_PC-6a00eedf.png);
}

.slick-img2 {
background-image: url(https://kdy41000.github.io/vrin3d_clone_react/assets/carousel_thumbnail_2_PC-774a2af5.png);
}

.slick-img3 {
background-image: url(https://kdy41000.github.io/vrin3d_clone_react/assets/carousel_thumbnail_3_PC-471f312e.png);
}

.bPygHU {
position: absolute;
bottom: 28px;
left: 24px;
z-index: 1;
}

.kGphZh {
font-size: 2.4rem;
font-weight: 700;
line-height: 168%;
color: rgb(255, 255, 255);
}

.css-lmzl00 {
display: flex;
flex-direction: row;
-webkit-box-align: center;
align-items: center;
}

.css-lmzl00 > :not(style) ~ :not(style) {
margin-left: 4px;
}

.css-lmzl00 > :not(style):not(style) {
margin: 0px;
}

.bzbxRS {
position: absolute;
top: 40px;
left: 60%;
transform: translate(-50%);
display: flex;
flex-direction: column;
gap: 4px;
width: 138px;
background-color: rgb(40, 45, 50);
padding: 8px 0px;
overflow-y: auto;
border-radius: 4px;
z-index: 1;
font-size: 1.4rem;
font-weight: 500;
line-height: 140%;
letter-spacing: 0px;
}

.inCNjg {
display: flex;
justify-content: center;
align-items: center;
font-size: inherit;
}

.lhyoeO {
font-size: 2rem;
color: rgb(68, 74, 232);
}

.bTFJXB {
color: rgb(110, 133, 252);
font-size: 1.4rem;
font-weight: 500;
line-height: 140%;
letter-spacing: 0px;
}

.llUqmn {
display: flex;
justify-content: space-between;
padding: 8px 20px;
width: 100%;
cursor: pointer;
color: rgb(255, 255, 255);
}