@charset "UTF-8";* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box
}

*:focus {
    outline: 0
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset
}

input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s
}

input[autocomplete=off]::-webkit-contacts-auto-fill-button,input[autocomplete=off]::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    display: none!important;
    pointer-events: none;
    height: 0;
    width: 0;
    margin: 0
}

html,body {
    width: 100%;
    max-width: 100%;
    font-size: 62.5%;
    font-weight: 500;
    font-style: normal;
    font-family: Pretendard Variable,Pretendard,-apple-system,BlinkMacSystemFont,system-ui,Roboto,Helvetica Neue,Segoe UI,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,sans-serif;
    line-height: normal;
    white-space: nowrap;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent
}

body {
    overflow-y: scroll
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-user-drag: none;
    width: fit-content
}

button {
    text-transform: unset!important;
    background: none;
    cursor: pointer;
    border: 0;
    border-radius: none;
    color: inherit;
    font: inherit
}

input,textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    pointer-events: auto
}

img,svg,i {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text
}

.react-datepicker,.react-datepicker__current-month,.react-datepicker-time__header,.react-datepicker-year-header {
    font-size: 1.6rem!important
}

.react-datepicker__day-name,.react-datepicker__day,.react-datepicker__time-name {
    width: 3rem!important
}

.react-datepicker__triangle {
    transform: translate(125px)!important
}

.react-datepicker__tab-loop {
    margin-left: 0!important
}

.image-fade-in {
    opacity: 0;
    transition: opacity 1s
}

@keyframes easeinout {
    0% {
        opacity: 0;
        transform: translate3d(0,50px,0)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

.primary04 {
    color: #3737cc
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


@font-face {
    font-family: Pretendard Variable;
    font-style: normal;
    font-display: swap;
    font-weight: 45 920;
    src: url(../assets/PretendardVariable.woff2) format("woff2");
}
